annotated-types==0.7.0
anyio==4.12.1
arabic-reshaper==3.0.0
asgiref==3.11.0
asn1crypto==1.5.1
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.4
cssselect2==0.8.0
distro==1.9.0
Django==6.0.1
django-crispy-forms==2.5
django-easy-pdf==0.1.1
django-environ==0.12.0
django-htmx==1.27.0
django-jazzmin==3.0.2
djangorestframework==3.16.1
et_xmlfile==2.0.0
fonttools==4.61.1
freetype-py==2.5.1
geographiclib==2.1
geopy==2.4.1
google-ai-generativelanguage==0.6.15
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-genai==1.61.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
hijri-converter==2.3.2.post1
hijridate==2.3.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
lxml==6.0.2
openpyxl==3.1.5
oscrypto==1.3.0
pillow==12.1.0
prayer_times_calculator==0.0.12
proto-plus==1.27.1
protobuf==5.29.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycairo==1.29.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
pyHanko==0.32.0
pyhanko-certvalidator==0.29.0
pyparsing==3.3.2
pypdf==6.6.2
pyphen==0.17.2
python-bidi==0.6.7
PyYAML==6.0.3
qrcode==8.2
reportlab==4.4.9
requests==2.32.5
rlPyCairo==0.4.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
svglib==1.6.0
tenacity==9.1.2
tinycss2==1.5.1
tinyhtml5==2.0.0
tqdm==4.67.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
uritools==6.0.1
urllib3==2.6.3
webencodings==0.5.1
websockets==15.0.1
xhtml2pdf==0.2.17
zopfli==0.4.0
